page {
  background-color: #F7F8FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-size: 28rpx;
  color: #1D2129;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

view, text {
  box-sizing: border-box;
}

image {
  display: block;
}
